<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login Required - <%= siteName %></title>
  <link rel="stylesheet" href="/public/css/main.css" />
  <script src="/public/js/protect.js" defer></script>
</head>
<body class="page-dark">
<div class="center-wrap">
  <div class="card">
    <h1>Login Required</h1>
    <p>You must login with Discord before using the key system.</p>
    <a
      href="/auth/discord?<%= new URLSearchParams({ next: redirectTo || '/get-key?provider=workink' }).toString() %>"
      class="btn btn-discord btn-full"
    >
      Login with Discord
    </a>
  </div>
</div>
</body>
</html>
